@charset "UTF-8";

@font-face {
  font-family: VT323;
  src: url(../fonts/vt323-regular.woff2) format('woff2'),
  url(../fonts/vt323-regular.woff) format('woff'),
  url(../fonts/vt323-regular.ttf) format('truetype'),
  url(../fonts/vt323-regular.eot) format('eot');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 1.3s;
}

*:focus {
  outline: 7px auto silver;
}

body {
  color: #9CBF00;
  background-color: black;
  font-family: VT323, "Courier New", Courier, monospace;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  max-width: 100%;
}

header {
  background-color: #CEFC00;
  color: #9CBF00;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

header h1 {
  margin: 0;
  font-size: 4.5em;
  text-align: center;
}

main {
  flex: 1;
  padding: 1.5em;
  width: 100%;
}

main:after {
  content: "\00a0"; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

main > article {
  display: inline-flex;
  flex-direction: column;
  padding: 1.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  font-size: 1.5em;  
}

@media only screen and (max-device-width:420px) {
  main > article {
    font-size: 2.5em;
  }
}
main > article > button {
  align-content: center;
  justify-content: center;
}

main > article > h2 {
  text-align: center;
  color: #9CBF00;
  margin-bottom: 1.5em;
}

ul {
  list-style-type: none;
}

footer {
  background-color: #CEFC00;
  border-top: 1px solid #C6F200;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom:10px;
  color: #9CBF00;
  font-size: 1.5em;
  width: 100%;
  flex: none;
  text-align: center;
}

#startGameBtn {
  font-size: 2em;
  margin-left:auto;
  margin-right:auto;
}

#hangman {
  display: block;
  margin: 1em auto;
  filter: invert(100%);

}

@media only screen and (max-device-width: 1020px) and (orientation: landscape) {
    #hangman {
      height: 10em;
    }
  
  }

#gameBoard {
  padding: 0.3em;
  display:none;
  flex-direction:column;
  align-items: center;
  width:100%;
}

#letterButtons {
  display: inline-flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#letterButtons li button {
  margin: 4px 4px;
  min-width: 2.5em;
  font-size: 2.5em;
  padding: 0.1em 0.2em 0.3em 0.2em;
}

#letterButtons li:last-of-type button {
  max-height: 1.9em;
  display: inline-flex;
  justify-content: center;
  line-height: 1em;
  padding-bottom:  0.2em;
}

#letterButtons li:last-of-type button::before {
  content: "⌫";
  line-height: 1.15em;
  padding-right: 0.5em;
}

@media only screen and (max-device-width: 420px) and (orientation: portrait) {
  #letterButtons li button {
    min-width: 2.5em;
    min-height: 1.5em;
    font-size: 4em;
    margin: 10px 4px;
  }

}

#timer {
  display: block;
  margin: 1em 0;
  text-align: center;
  font-size: 1.5em;
}

#letterBoxes {
  display: block;
  margin-top: 1em;
}

.liLetterBoxes {
  display: inline-flex;
  justify-content: center;
  border: 1px solid #C6F200;
  color: #9CBF00;
  font-size: 1.9em;
  font-weight: bold;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  margin-right:0.2em; 
  align-items: center;
}

@media only screen and (max-device-width: 740px) and (orientation: landscape) {
  #letterButtons li button {
    max-height: 2em;
    margin: 10px 4px;
  }
}

@media only screen and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {    
  .liLetterBoxes {
    width: 1em;
    height: 1em;
    padding-bottom: 0.4em;
  }
}

.liLetterBoxes:after {
  content: "\00a0";
}

.box-checked {
  background-color: #CEFC00;
}

.box-checked:after {
  content: "";
}
  
.margin-right {
  margin-right: 1em;
}

#guessField {
  display:inline-flex;
  height: 7em;
  justify-content: center;
}

#guessField input {
  color:#C6F200;
  font-family: VT323,"Courier New", Courier, monospace;
  font-size: 2em;
}

#guessField input::placeholder {
  color:#C6F200;
  font-family: VT323,"Courier New", Courier, monospace;
}

#userGuess {
  border: 1px solid #C6F200;
  color: #C6F200;
  background-color: #9CBF00;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1em;
  margin-top: 1em;
  margin-left:1em;
  padding: 0 0.5em;
  text-align: center;
  width: 17em;
  height: 2em;
}

#userGuessBtn {
  width: 14em;
  height: 2em;
  margin: 3em 1em 2.8em 1em;
  padding: 0.15em 1em 1.1em 1em;
  text-align: center;
  font-size: 1em;
}

input[type="checkbox"] {
  width:2.5em;
  height:2.5em;
  cursor: pointer;
  margin-left:0.7em;
  border: 2px solid #C6F200;
  -webkit-appearance: none;
}


label {
  margin-top:1em;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  font-size:2em;
}

@media only screen and (max-device-width: 740px) {
  #userGuess {
    padding: 0 0.2em;
    width: 16em;
    height: 2.3em;
    margin-top:0.9em;
  }

  #userGuessBtn {
    height: 1em;
    width: 7.6em;
    margin: 0.6em 1em 2.8em 0.5em;
    padding: 0 0 1.4em 0;
    font-size: 3em;
  } 

  #overrideCheckbox {
    width:4em;
    height:4em;
  }
}

a {
  text-decoration: none;
  color: #9CBF00;
}

#message{
  padding: 0;
  font-size: 1.5em;
  display: block;
  margin: 0 auto;
}

.btn {
  -moz-user-select: text;
  background-color: #fff;
  background: transparent;
  border-radius: 6px;
  border: 0;
  border: 2px solid #C6F200;
  color: #9CBF00;
  display: block;
  font: inherit;
  font-size: 1.5em;
  line-height: normal;
  margin-bottom: 16px;
  margin: 0;
  overflow: visible;
  padding: 0;
  padding: 16px 36px 16px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn--stripe {
  overflow: hidden;
  position: relative;
}

.btn--stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: -webkit-repeating-linear-gradient(
    45deg,
    #C6F200,
    #C6F200 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    45deg,
    #C6F200,
    #C6F200 1px,
    transparent 2px,
    transparent 5px
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #C6F200;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.disabled {
  background-color: #9CBF00;
  color: #CEFC00;
  border-color: #C6F200;
}

.override {
  background-color: black;
  color:#9CBF00;
}