@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #666;
  font-family: sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  max-width: 100%;
}

header {
  background-color: silver;
  color: #fff;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

header h1 {
  margin: 0;
  font-size: 4.5em;
  text-align: center;
}

main {
  flex: 1;
  padding: 1.5em;
}

main:after {
  content: "\00a0"; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

main > article {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

main > article > button {
  align-content: center;
  justify-content: center;
}

main > article > h2 {
  text-align: center;
  color: #777;
  margin-bottom: 1.5em;
}

ul {
  list-style-type: none;
}

footer {
  background-color: silver;
  border-top: 1px solid #666;
  margin-top: 20px;
  padding-top: 30px;
  color: #fff;
  font-size: 1.25em;
  width: 100%;
  flex: none;
  text-align: center;
}

#startGameBtn {
  font-size: 1.5em;
  margin-left:auto;
  margin-right:auto;
  cursor: pointer;
}

#hangman {
  margin: 2em auto;
}

#gameBoard {
  padding: 10px 0;
  display:none;
  flex-direction:column;
  align-items: center;
}

#letterButtons {
  display: inline-flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#letterButtons li:not(last-child) {
  margin: 4px 4px;
  min-width: 2.5em;
}

#letterBoxes {
  display: block;
  margin-top: 1em;
}
.liLetterBoxes {
  display: inline-flex;
  justify-content: center;
  border: 1px solid #666;
  color: #666;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  width: 2em;
  height: 2em;
  margin-right:0.2em; 
  padding-top: 0.35em;
 
}
.liLetterBoxes:after {
  content: "\00a0";
}
.corect-letter:after {
  content: "";
}
  

.margin-right {
  margin-right: 1em;
}

#guessField {
  display:inline-flex;
}
#guessField input {
  border: 1px solid #666;
  color: #666;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
  margin-top: 1em;
  padding: 20px 5px;
  text-align: center;
  width: 19em;
  height: 3.5em;
}

#userGuessBtn {
  width: 15em;
  height: 3em;
  margin: 2.8em 1em 2.8em 1em;
  padding: 1em 1em;
  text-align: center;
  cursor: pointer;

}

#message {
  padding-top: 20px;
  font-size: 1.5em;
}

.btn {
  -moz-user-select: text;
  background-color: #fff;
  background: transparent;
  border-radius: 6px;
  border: 0;
  border: 2px solid #666;
  color: #666;
  display: block;
  font: inherit;
  line-height: normal;
  margin-bottom: 16px;
  margin: 0;
  overflow: visible;
  padding: 0;
  padding: 16px 36px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn--stripe {
  overflow: hidden;
  position: relative;
}

.btn--stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: -webkit-repeating-linear-gradient(
    45deg,
    #666,
    #666 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    45deg,
    #666,
    #666 1px,
    transparent 2px,
    transparent 5px
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.disabled {
  background-color: #999;
  color: #fff;
  border-color: #666;
}

.disabled:after, {
  background-image: -webkit-repeating-linear-gradient(
    45deg,
    #fff,
    #fff 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 1px,
    transparent 2px,
    transparent 5px
  );
  border-top: 1px solid #000;
}
